.main-movie {
    position: relative;
    margin: 50px;
    max-width: 700px;
}

.main-movie__background {
    width: 100%;
    border-radius: 10px;
}

.main-movie__backgroundCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(3, 3, 38, 0.896796218487395) 34%, rgba(9, 9, 121, 0) 100%);
    border-radius: 10px;
}

.main-movie-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 20px;
}

.main-movie__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
}

.main-movie__description {
    margin: 40px 0;
    max-width: 400px;
    color: #FFF ;
    font-weight: 300;
}

