html {
    background-color: #000;
}

.header {
    margin: 0 auto;
    padding: 40px;
    gap: 40px;
    width: 1490px;
    display: flex;
}

.header__search {
    padding: 20px;
    width: 80%;
    font-size: 24px;
}

.header__user {
    position: relative;
    display: flex;
    width: 20%;
    gap: 20px;
    color: #FFF;
    cursor: pointer;
}

.header__user>* {
    align-self: center;
    text-align: center;
}

.user-initials {
    width: 50px;
    height: 50px;
    background-color: var(--var-systemPrimaryColor);
    border-radius: 10px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.user-initials__item {
    margin: auto;
    vertical-align: middle;
}

.user-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--var-graphite);
    border-radius: 10px;
    z-index: 1;
}

.user-menu__item {
    width: 100%;
    height: 50px;
    color: #FFF;
    font-size: 16px;
    background-color: var(--var-systemPrimaryColor);
    border-bottom: 2px solid var(--var-graphite);
}

.user-menu__item:first-child {
    border-radius: 10px 10px 0 0;
}

.user-menu__item:last-child {
    border-radius: 0 0 10px 10px;
    border-bottom: none;
}

.user-menu__logout {
    background-color: #be2f2f;
}

.content {
    margin: 0 auto;
    width: 1490px;
    border: 2px solid blue;
}

.content-movies {
    margin: 0 auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.movie-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 260px;
    color: #FFF;
    font-size: 16px;
    border-radius: 20px;
    transition: 0.2s;
}

.movie-item:hover {
    scale: 1.03;
    background-color: var(--var-graphite);
    transition: 0.4s;
}

.movie-item:hover>.movie-item__rating {
    transition: 0.2s;
    opacity: 0.3;
}

.movie-item:hover>.movie-item__name {

    color: var(--var-systemPrimaryColor);
    transition: 0.4s;
}

.movie-item__image {
    margin: 0 auto;
    width: 240px;
    max-height: 350px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.movie-item__rating {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #00A340;
}

.movie-item__name {
    margin: 20px 10px 0;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.movie-item__crew {
    margin: 10px 10px 20px;
    font-size: 12px;
}