.movie-wrapper {
    display: flex;
}

.movie-nav {
    padding: 20px;
}

.movie__poster {
    width: 260px;
    border-radius: 20px;
}

.movie-buttons {
    display: flex;
    gap: 2px;
    width: 100%;
}

.movie-buttons__item {
    margin-top: 30px;
    padding: 10px;
    background-color: var(--var-graphite);
    width: 100%;
    transition: 0.2s;
}

.movie-buttons__item:first-child {
    border-radius: 10px 0 0 10px;
}

.movie-buttons__item:last-child {
    border-radius: 0 10px 10px 0;
}

.movie-buttons__item:hover {
    background-color: var(--var-systemPrimaryColor);
}

.movie-info {
    padding: 20px;
    width: 100%;
}

.movie__title {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
}

.movie__tagline {
    margin: 0 10px 20px;
    font-size: 14px;
}

.movie-rating-container {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.movie-rContainer__item {
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 6px;
    background-color: var(--var-graphite);
    color: #FFF;
    font-weight: 300;
    cursor: default;
}

.movie-rContainer__item:first-child {
    background-color: #00A340;
    font-weight: 600;
}

.movie__description {
    color: #FFF;
}

.movie-information-container {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;

}