.main-recommended {
    display: flex;
    padding: 40px 10px;
    width: 100%;
    overflow: scroll;
    /* border: 2px solid red; */
}

.main-recommended::-webkit-scrollbar {
    display: none;
}

.main-recommended {
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
}